{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-sort-imports"],
  "importOrder": ["^[a-z]", "^@", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
